@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.max-w-screen-xl { max-width: 1280px; }

.required::after{
  content: " *";
  color: red;
}

.fondo{
  background-image: url('/public/bg-grid.png');
}