aside{
    height: 480px;
    overflow: auto;
}

.ajustarTabla{
    height: 480px;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.OTHNavBarIcon:hover{
    fill: #FFD700;
}

.noClickBorder,
.noClickBorder:hover{
    border: none;
}

[data-bs-theme='dark'] .OTHBtn{
    background-color: #27374D;
    fill: white;
}

.OTHBtn:hover{
    fill: #F1C376;
}

.OTHBtn{
    background-color: #FEFBF3;
    border: none;
    cursor: pointer;
    fill: black;
}

[data-bs-theme='dark'] .OTHGroupBtn{
    fill: #212121;
}

/* Mostrar Grupos Botónes */

.OTHGroupBtn{
    fill: #FEFBF3;
}

.OTHGroupBtn:hover{
    fill: #F1C376;
}

/* SubgroupDashBoard */

[data-bs-theme='dark'] .OTHSubGroupBtn:hover{
    fill: #EFE1D1;
}

.OTHSubGroupBtn:hover{
    fill: #F99417;
}

.OTHSubGroupBtn{
    cursor: pointer;
}

/* 24h button toggle */

/* White Theme */

.OTH24HrsActive{
    fill: #59CE8F;
}

.OTH24HrsActive:hover{
    fill: #FFB562;
}

.OTH24HrsDisable{
    fill: #C21010;
}

.OTH24HrsDisable:hover{
    fill: #FFB562;
}