aside{
    height: 480px;
    overflow: auto;
}

.ajustarTabla{
    height: 480px;
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.OTHNavBarIcon:hover{
    fill: #FFD700;
}

.noClickBorder,
.noClickBorder:hover{
    border: none;
}

[data-bs-theme='dark'] .OTHBtn{
    background-color: #27374D;
    fill: white;
}

.OTHBtn:hover{
    fill: #F1C376;
}

.OTHBtn{
    background-color: #FEFBF3;
    border: none;
    cursor: pointer;
    fill: black;
}

[data-bs-theme='dark'] .OTHGroupBtn{
    fill: #212121;
}

/* Mostrar Grupos Botónes */

.OTHGroupBtn{
    fill: #FEFBF3;
}

.OTHGroupBtn:hover{
    fill: #F1C376;
}

/* SubgroupDashBoard */

[data-bs-theme='dark'] .OTHSubGroupBtn:hover{
    fill: #EFE1D1;
}

.OTHSubGroupBtn:hover{
    fill: #F99417;
}

.OTHSubGroupBtn{
    cursor: pointer;
}

/* 24h button toggle */

/* White Theme */

.OTH24HrsActive{
    fill: #59CE8F;
}

.OTH24HrsActive:hover{
    fill: #FFB562;
}

.OTH24HrsDisable{
    fill: #C21010;
}

.OTH24HrsDisable:hover{
    fill: #FFB562;
}

.dropdown-toggle::after{
    display: none; /* Oculta la flecha predeterminada */
}

/* Schedule table styles */

table {
    text-align: center;
    white-space: nowrap;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgb(232, 227, 227);
}

table td,
table th {
    border: 1px solid #363636;
}
table thead th {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
}
table td {
    background: #fff;
    padding: 4px 5px;
    text-align: center;
}

table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}
table tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
}
