body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #282c34;
    color: white;
    font-size: calc(10px + 2vmin);
    text-align: center;
    overflow: hidden;
}

pre {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: calc(100% - 2rem);
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ffffff;
    background-color: #282c34;
    color: white;
}

input:focus {
    background-color: #ffffff;
    color: #282c34; 
}
